extends layout

block content

	#accordion.panel-group(role='tablist', aria-multiselectable='true')

		.panel.panel-default
			#headingOne.panel-heading(role='tab')
				h4.panel-title
					a(data-toggle='collapse', data-parent='#accordion', href='#collapseDealerInfo', aria-expanded='false')
						strong Dealer Information
						| &#58; ข้อมูลดีลเลอร์
			#collapseDealerInfo.panel-collapse.collapse(role='tabpanel')
				.panel-body
					pre URL : /dealer/info
					.panel.panel-default
						.panel-body
							form.form-horizontal
								.form-group
									label.col-sm-2.control-label(for='input') Firstname
									.col-sm-10
										input.form-control.firstname(type='text', placeholder='Firstname')
										p.help-block
											span.font-pre.label.label-default firstname
											|   ชื่อ
								.form-group
									label.col-sm-2.control-label(for='input') Lastname
									.col-sm-10
										input.form-control.lastname(type='text', placeholder='Lastname')
										p.help-block
											span.font-pre.label.label-default lastname
											|   นามสกุล
								.form-group.margin-bottom-0
									.col-sm-offset-2.col-sm-10
										.btn.btn-sm.btn-primary.btn-submit(data-loading-text='Loading...', autocomplete='off') Submit
					.result.hidden.alert.margin-top-10.margin-bottom-0.font-pre(role='alert')
		
		.panel.panel-default
			#headingOne.panel-heading(role='tab')
				h4.panel-title
					a(data-toggle='collapse', data-parent='#accordion', href='#collapseRegisterDealer', aria-expanded='false')
						strong Register Dealer  
						| &#58; สมัครตัวแทนจำหน่าย
			#collapseRegisterDealer.panel-collapse.collapse(role='tabpanel')
				.panel-body
					pre URL : /dealer/register
					.panel.panel-default
						.panel-body
							form.form-horizontal
								.form-group
									label.col-sm-2.control-label(for='input') Value
									.col-sm-10
										input.form-control.value(type='text', placeholder='Value')
										p.help-block
											span.font-pre.label.label-warning value
											|   ข้อมูล (JSON String) เช่น  {"Firstname":"มั่นคง","Lastname":"ทรงไทย", "PictureUrl":"ABC.com|DEF.com"}
								.form-group.margin-bottom-0
									.col-sm-offset-2.col-sm-10
										.btn.btn-sm.btn-primary.btn-submit(data-loading-text='Loading...', autocomplete='off') Submit
					.result.hidden.alert.margin-top-10.margin-bottom-0.font-pre(role='alert')